div(class='newsletter')
    p Subscribe to my newsletter
    form(action="/success" method='POST')
        label(for="email")
        input(id='email' type="email", name="email" placeholder='example@gmail.com')
        input(type="submit", value="Subscribe")

