html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class='success-page')
		h1 Yay!
		p You have successfully #{message}. Keep an eye on your mail, I'll be in touch soon!